{% extends "main/header.html"%}

{%block content%}
    
  <div class="row">
    {% for c in categories %}
        <div class="col s12 m6 l4">
            <a href="{{c.category_slug}}", style="color:#000">
                <div class="card hoverable">
                    <div class="card-content">
                        <div class="card-title">{{c.tutorial_category}}</div>
                        <p>{{c.category_summary}}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
  </div>

{% endblock %}
